{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        <p>Study Plan Overview</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a>Dashboard</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <!-- Events Statistics -->
    <div class="col-md-6">
        <div class="tile">
            <h4 class="tile-title">Events Overview</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-small primary coloured-icon">
                        <i class="icon fa fa-calendar fa-3x"></i>
                        <div class="info">
                            <h4>Today Events</h4>
                            <p><b>{{ today_events.count }}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-small info coloured-icon">
                        <i class="icon fa fa-clock-o fa-3x"></i>
                        <div class="info">
                            <h4>Upcoming Events</h4>
                            <p><b>{{ upcoming_events.count }}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="widget-small warning coloured-icon">
                        <i class="icon fa fa-check-circle fa-3x"></i>
                        <div class="info">
                            <h4>Completed Events</h4>
                            <p><b>{{ completed_events }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tasks Statistics -->
    <div class="col-md-6">
        <div class="tile">
            <h4 class="tile-title">Tasks Overview</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-small danger coloured-icon">
                        <i class="icon fa fa-tasks fa-3x"></i>
                        <div class="info">
                            <h4>Total Tasks</h4>
                            <p><b>{{ total_task }}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-small primary coloured-icon">
                        <i class="icon fa fa-calendar-check-o fa-3x"></i>
                        <div class="info">
                            <h4>Today's Tasks</h4>
                            <p><b>{{ today_tasks.count }}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="widget-small info coloured-icon">
                        <i class="icon fa fa-hourglass-half fa-3x"></i>
                        <div class="info">
                            <h4>Upcoming Tasks</h4>
                            <p><b>{{ upcoming_tasks.count }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
{{ block.super }}
{% endblock extrascripts %}