{% extends 'base/base.html' %}

{% block title %}Delete Task{% endblock %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-trash"></i> Delete Task</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{% url 'calendarapp:all_tasks' %}">Tasks</a></li>
        <li class="breadcrumb-item active">Delete</li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ object.title }}"?</p>
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="{% url 'calendarapp:all_tasks' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}